@-moz-document domain("translate.yandex.by") {
*
{
    background: #000 !important;
    border: none !important;
    box-shadow: none !important;
}

.main
{
    color: gray;
}

.container_main {
	height: 100% !important;
}

.item
{
    margin-top: 40px;
}
.textbox 
{
    font-size: 30px;
    color: lightgray;
}

#header,
#favWrapper,
.footer,
.panel
{
    display: none !important;
}
}
