@-moz-document domain("translate.yandex.by") {

::-webkit-scrollbar {
	display: none;
}

*
{
    background: #000 !important;
    border: none !important;
    box-shadow: none !important;
}

.main
{
    color: gray;
}

.container_main {
	height: 40% !important;
}

.item
{
    margin-top: 100px;
}
.textbox 
{
    font-size: 30px;
    color: lightgray;
}

#header,
#favWrapper,
.footer,
.panel
{
    display: none !important;
}
}
